{% extends 'dashboard_layout.html' %}
{% load static %}
{% block title %}Author - Dashboard {% endblock %}

{% block hscripts %}

{% endblock %}

{% block content %}


    <!-- Modal -->
    <div class="modal fade" id="fiveLikedDislikedBlogModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Top 5 Liked & disliked Blogs</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Liked Blogs</h6>
                            <ul class="list-group" id="like_blogs">
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Disliked Blogs</h6>
                            <ul class="list-group" id="dislike_blogs">
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="topfiveCommentedBlogs" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Top 5 commented Blogs</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="cmnt_blogs">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="readerCommentedBlogs" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">List of Blogs which a reader commented</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="commented_blogs">
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-5">
                <h5 class="btn btn-sm btn-primary">Add Blog</h5><br><br>
                <input type="hidden" id="hidden_blog_id" value="">
                <div class="form-group">
                    <label>Blog Title</label>
                    <span class="mandatory" style="color: red">*</span>
                    <input type="text" class="form-control" id="blog_title">
                </div>
                <div class="form-group">
                    <label>Blog Content</label>
                    <span class="mandatory" style="color: red">*</span>
                    <textarea class="form-control rounded-0" rows="7" id="blog_content"
                              placeholder="Write your blog......"></textarea>
                </div>

                <button class="btn btn-sm btn-success" style="float: right;top: 12px" id="save_blog">Save</button>
                <br><br><br>

                <a class="btn btn-sm btn-info ibtn" data-toggle="modal"
                   data-target="#topfiveCommentedBlogs" id="top_five_cmnt_blogs">Top 5 commented Blogs
                </a>
                <a class="btn btn-sm btn-info ibtn" data-toggle="modal"
                   data-target="#fiveLikedDislikedBlogModal" id="top_five_like_dislike_blog">Top 5 Liked & disliked
                    Blogs
                </a>
                <a class="btn btn-sm btn-info ibtn" data-toggle="modal"
                   data-target="#readerCommentedBlogs" id="reader_cmnt_blogs">List of Blogs which a reader commented
                </a>
            </div>
            <div class="col-md-7">
                <h5 class="btn btn-sm btn-primary">My Added Blogs</h5><br><br>
                <div id="my_blogs">

                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block fscripts %}
    <script type="text/javascript" src="{% static 'logic/author_dashboard.js' %}"></script>
{% endblock %}