{% extends 'dashboard_layout.html' %}
{% load static %}
{% block title %}Reader - Dashboard {% endblock %}

{% block hscripts %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="recentBlogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Recent 5 Liked blogs</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="liked_blogs">
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="blogCommentHistroyModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My commented blogs</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list-group" id="my_commented_blog">
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h6>My Comment History | <span id="count_comments"></span></h6>
                            <ul class="list-group" id="comment_histroy">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="authorBlogCommentHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My commented blogs</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list-group" id="commented_blogs_authors">
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h6>My Comment History | <span id="auth_blog_comments_count"></span></h6>
                            <ul class="list-group" id="auth_blog_comments">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h5 class="btn btn-sm btn-primary">Blogs</h5><br><br>
                <div id="blogs">

                </div>
            </div>
            <div class="col-md-5">
                <div class="info-cls">
                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                            data-target="#recentBlogModal" id="five_liked_blogs">Recent 5 liked blogs
                    </button>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                            data-target="#blogCommentHistroyModal" id="my_comment_blogs">My comment history for specific
                        blogs
                    </button>
                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#authorBlogCommentHistoryModal"
                            id="my_cmnt_history_on_author_blogs">My comment history for a particular author
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block fscripts %}
    <script type="text/javascript" src="{% static 'logic/reader_dashboard.js' %}"></script>
{% endblock %}